<footer>
    <div class="colored-rectangle"></div>
    <div class="footer-container">
        <div class="footer-info">
            <h1>LINKS</h1>
            <ul>
                <li class="company-title">COMPANY</li>
                <li class="catalogs-title">CATALOGS</li>
                <li>Find a dealer</li>
                <li>Login / Register</li>
            </ul>
        </div>

        <div class="footer-info">
            <h1>DEV TEST</h1>
            <span class="dev-title">Dev Test</span>
            <span class="address-title">1421 38</span>
            <span class="address-second-title">Brooklyn,NY</span>
            <span class="address-third-title">11245-5647 USA</span>
        </div>

        <div class="footer-info">
            <h1>NEWSLETTER</h1>
            <div class="e-mail">
                <button class="e-mail-button">EMAIL ADDRESS</button>
            </div>
        </div>
    </div>

    <div class="footer-text">
        <i class="fa fa-copyright" aria-hidden="true"></i>
        <span class="footer-title">DEVTEST</span>
        <span class="footer-second-title">— 2019 All Right Reserved.</span>
    </div>
</footer> 
