.box-container {
    display: flex;
    flex-direction: column;
    border-top: 3px solid #2f4061;
}

.box-row {
    display: flex;
    width: 100%;
}

.box-img {
    width: 50%;
    height: auto;
}

.empty-box {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
}

.empty-box-runner-inner {
    background-color: #f5f2ee;
    right: 20%;
    width: 90%;
    height: 70%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1vw;
    line-height: 2vw;
}

.empty-box-runner-inner h1 {
    color: #a9836b;
    font-family: "Sample";
}

.empty-box-runner-inner p {
    color: #4a5874;
}

.inner-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 1vw;
}

.empty-box-watch-inner {
    background-color: #2f4061;
    left: 20%;
    width: 90%;
    height: 70%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1vw;
    line-height: 2vw;
}

.empty-box-watch-inner h1 {
    color: #ffffff;
    font-family: "Sample";
}

.empty-box-watch-inner p {
    color: #ffffff;
}
