<div class="box-container">
    <section class="box-row">
        <img class="box-img" src="../../assets/images/box-runner.png" alt="box-runner">
        <div class="empty-box">
            <div class="empty-box-runner-inner">
                <div class="inner-content">
                    <h1>Lorem Ipsum</h1>
                    <p>Vistatech achieves 20-year milestone as market leader for casio calculators, 
                    electronic organizers, musical instruments, audio equipment, digital
                    cameras, and cash registers. Vistatech achieves 20-year milestone as market
                    leader for casio calculators, electronic organizers, musical instruments,
                    audio equipment, digital cameras, and cash registers Vistatech achieves
                    20-year milestone as market
                    leader</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="box-row">
        <div class="empty-box">
            <div class="empty-box-watch-inner">
                <div class="inner-content">
                    <h1>Lorem Ipsum</h1>
                    <p>Vistatech achieves 20-year milestone as market leader for casio calculators, 
                    electronic organizers, musical instruments, audio equipment, digital
                    cameras, and cash registers. Vistatech achieves 20-year milestone as market
                    leader for casio calculators, electronic organizers, musical instruments,
                    audio equipment, digital cameras, and cash registers Vistatech achieves
                    20-year milestone as market
                    leader</p>
                </div>
            </div>
        </div>
        <img class="box-img" src="../../assets/images/box-watch.png" alt="box-watch">
    </section>
</div>
