aside {
    width: 305px;
    position: absolute;
    right: 0;
    top: 890px;
    border: 1px solid #d9ceba;
    background-color: #ffffff;
    z-index: 1;
    opacity: 1;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

aside.inactive {
    opacity: 0;
    z-index: -1;
}

.sidebar-header {
    height: 36px;
    border-bottom: 1px solid #d9ceba;
    display: flex;
    align-items: center;
    padding-left: 12px;
    color: #3c3e53;
    font-weight: 600;
}

.sidebar-body {
    border-bottom: 1px solid #d9ceba;
    overflow: auto;
    max-height: 300px;
}

.watch-sidebar-list {
    display: flex;
    align-items: center;
    padding: 15px;
}

.remove-sidebar-watch {
    color: #b5a294;
    font-size: 14px;
    cursor: pointer;
    margin: 8px;
}

.data-sidebar-watch-wrapper {
    display: flex;
    flex-direction: column;
    margin: 8px;
    width: 130px;
}

.sidebar-watch-name {
    color: #323b64;
    font-weight: 600;
    font-size: 14px;
}

.sidebar-watch-collection {
    color: #897769;
    font-size: 12px;
}

.watch-sidebar-listing-price {
    margin: 8px;
    color: #897769;
    font-size: 14px;
    font-weight: 600;
}

.quantity {
    margin: 8px;
    color: #897769;
    font-size: 14px;
    font-weight: 600;
}

.carets {
    display: flex;
    flex-direction: column;
    margin: 8px;
    cursor: pointer;
    color: #897769;
}

.fa-caret-down.disabled {
    opacity: 0.2;
    pointer-events: none;
}

.sidebar-footer {
    height: 42px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sum-container {
    display: flex;
    flex-direction: column;
}

.sum-container label {
    color: #2e3c57;
}

.sum {
    color: #354461;
    font-weight: 600;
    margin-top: 5px;
}

.checkout-button {
    background-color: #304061;
    color: #ffffff;
    outline: none;
    border: none;
    width: 120px;
    height: 32px;
    font-size: 11px;
    letter-spacing: 2px;
}
