<aside [class.inactive]="sidebarToggle">
    <div class="sidebar-header">
        <span>My Cart</span>
    </div>
    <div class="sidebar-body">
        <div class="watch-sidebar-list" *ngFor="let cartWatch in cartWatches">
            <div class="remove-sidebar-watch" >X</div>
            <div class="data-sidebar-watch-wrapper">
                <span class="sidebar-watch-name">{{ cartWatch.brand_name }}</span>
                <span class="sidebar-watch-collection">{{ cartWatch.brand_collection }}</span>
            </div>
            <div class="watch-sidebar-listing-price">{{ cartWatch.listing_price | currency:'USD':'symbol':'1.2' }}</div>
            <div class="quantity">{{ cartWatch.quantity }}</div>
            <div class="carets">
                <i class="fa fa-caret-up" aria-hidden="true">
                </i>
                <i class="fa fa-caret-down" aria-hidden="true" 
                    [class.disabled]="cartWatch.isDecreaseQuantityDisabled">
                </i>
            </div>
        </div>    
    </div>
    <div class="sidebar-footer">
        <div class="sum-container">
            <label>Title:</label>
            <span class="sum"></span>
        </div>
        <button class="checkout-button">CHECKOUT</button>
    </div>
</aside>
